<div class="container container-style">

    <div><h5 class="login-head-style">Book a Ride</h5></div>
    <div class="p-2">
     <p>Pool Carz is an online application which enable users to share rides with others.
     You can either book a ride or offer a ride. Did we mention that this app is advertisement 
     free ? To add on top of that its free of cost ! So what are you waiting for ?
     Check out the rides available and start PChing!! 
     </p>

     <div class="row margin-top-20">
      <div class="col-xs-12 text-center">
      
<button class="btn btn-primary" (click)="toggleRideTable()">Show All Rides</button>&nbsp;
 <button class="btn btn-primary" *ngIf="showRideTable" (click) = "showRides('To Office')">To Office</button>&nbsp;
<button class="btn btn-primary" *ngIf="showRideTable" (click) = "showRides('From Office')">From office</button>&nbsp;
 <button class="btn btn-primary" *ngIf="showRideTable" (click) = "showRides('Others')">Others</button>
    
</div>
     </div>
  
<div *ngIf="showRideTable"> 
 <br/><p style="text-align: center">Select a Ride!</p><br/>
      <table class="table">
        <thead>
          <tr>
            <th>Starting Point</th>
            <th>End point</th>
            <th>Seats Available</th>
            
          </tr>
        </thead>
        <tbody>
       <tr *ngFor="let ride of rides | rideFilter:rideFilterOption">  
          <td>{{ ride.start }}</td>
            <td>{{ ride.end }}</td>
            <td>{{ ride.seat }}</td>
            
          </tr>
        </tbody>
      </table>

    
    </div>
    <br/>
    <br/>
    <div class="row margin-top-20">
      <div class="col-6 offset-3 text-center">
    <a class="btn btn-primary" [routerLink]='["/offer-ride"]'>Offer Ride!</a>
      </div>
    </div>
</div>


