
<div class="container container-style">
        <div><h5 class="head-style">Car Ride Registration Form</h5></div>
    
    	  <form class="border" [formGroup] = "carRegister" (ngSubmit) = "registerCar()">
          
          <div class="row">
            <div class="col">
              <label for="name" class="form-label">Name</label>
              <input formControlName = "fname" type="text" class="form-control" id="name"> 
              <span class = "text-danger" *ngIf = "carRegister.controls['fname'].dirty && carRegister.hasError('required','fname')">*Name is required</span>          
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="startlocation" class="form-label">Start Location</label>
              <input formControlName = "startloc" type="text" class="form-control" id="startlocation"> 
              <span class = "text-danger" *ngIf = "carRegister.controls['startloc'].dirty && carRegister.hasError('required','startloc')">*Start Location is required</span> 
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="destination" class="form-label">Destination</label>
              <input formControlName = "dest" type="text" class="form-control" id="destination"> 
              <span class = "text-danger" *ngIf = "carRegister.controls['dest'].dirty && carRegister.hasError('required','dest')">*Destination is required</span> 
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="car" class="form-label">Car</label>
              <input formControlName = "carn" type="text" class="form-control" id="car"> 
              <span class = "text-danger" *ngIf = "carRegister.controls['carn'].dirty && carRegister.hasError('required','carn')">*Car is required</span> 
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="seat" class="form-label">Seats Available</label>
              <input formControlName = "seatavail" type="number" class="form-control" id="seat"> 
              <span class = "text-danger" *ngIf = "carRegister.controls['seatavail'].dirty && carRegister.hasError('required','seatavail')">*Seats Available is required</span> 
            </div>
          </div>

          <div class="form-group mt-3">
            <span class="">
              <button [disabled] = "!carRegister.valid" type="submit" (click) = "onBook()" class="btn btn-primary">Book</button>&nbsp;
              <a class="btn btn-primary" [routerLink]='["/book-ride"]'>Go Back</a>
            </span>
          </div>
        </form>   
</div>
<div *ngIf="submit">
  <div *ngIf="isBooked; else failureMsg">
    
    <h6 class = "text-success" style="text-align: center">Added Successfully!!</h6>
  </div> 
</div>
  <ng-template #failureMsg>
    <h4>Booking Unsuccessful!!</h4>
  </ng-template>





    	
