.container-style{
    position: relative;
    width: 40%;
    top: 200px;
    border: rgb(37, 172, 250) solid;
    padding: 0px;
    border-radius: 5px;
}

.head-style{
    background-color: rgb(40, 117, 251);
    color: white;
    padding: 10px 0px 10px 10px;
    margin: auto;
}

form{
    padding: 10px;
}