<div *ngIf="!submitted">
	<div class="container container-style">
		<div>
			<h5 class="login-head-style">Login</h5>
		</div>
		<div class="form-content">
			<form>
				<div class="row g-3 align-items-center">
					<div class="col-auto mb-3">
						<label for="username" class="col-form-label">Username</label>
					</div>
					<div class="col-auto mb-3">
						<input type="username" id="username" class="form-control" #username>
					</div>
					
				</div>
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<label for="password" class="col-form-label">Password</label>
					</div>
					<div class="col-auto">
						<input type="password" id="password" class="form-control" #password>
					</div>

				</div>

				<div class="col-6 offset-3 text-center mt-2">
				<button type="submit" class="btn btn-primary" (click)="onSubmit(username.value, password.value)">Login</button>

				</div>

			</form>
		</div>
	</div>
	</div>


		<div *ngIf="submitted">
			<div *ngIf="isAuthenticated; else failureMsg">

				<app-book-ride><a href="book-ride/book-ride.component.html"></a></app-book-ride>
			</div>
			<ng-template #failureMsg>
				<h4>Invalid Login !!! Please try again...</h4>
			</ng-template>
		</div>